* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #2b2d42;
  font-size: 1.5rem;
  min-height: 100%;
  min-width: 100vw;
  display: grid;
  place-content: center;
  font-family: 'noto sans', sans-serif;
}

.app {
  padding-top: 2rem;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #ef233c;
  font-family: 'lato', sans-serif;
  font-size: 4rem;
}

.maple-leaf {
  max-height: 300px;
  height: 20vh;
  width: auto;
}

.instructions {
  color:#edf2f4;
}

.score-board {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.score-section {
  color: #8d99ae;
  display: flex;
  align-items: center;
}

.score-section h3 {
  color: #edf2f4;
  font-weight: bold;
  font-size: 4rem;
  padding: 1rem;
}




@media (max-width:650px) {
  
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .app {
    width: 90vw;
  }

  h1 {
    font-size: 2.8rem;
  }

  .instructions {
    font-size: 1.2rem;
  }

  .score-section h2 {
    font-size: 1.2rem;
  }

  .score-section h3 {
    font-size: 3rem;
    padding-left: .5rem;
  }

}