* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid #8d99ae; */
}

body {
  background-color: #2b2d42;
  font-size: 1.5rem;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
  font-family: 'noto sans', sans-serif;
}

.app {
  padding: 2rem;
}

h1 {
  color: #ef233c;
  font-family: 'lato', sans-serif;
  font-size: 4rem;
}

.score-board {
  display: flex;
  gap: 1rem;
}

.score-section {
  color: #8d99ae;
  display: flex;
  align-items: center;
}

.score-section h3 {
  color: #edf2f4;
  font-weight: bold;
  font-size: 4rem;
  padding: 1rem;
}

.score-section h3 {
  /* color: #8d99ae; */
  /* color: #d90429; */
}


/* Cards start here */

.all-cards {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.city-card {
  display: grid;
  place-content: center;
  position: relative;
}

.city-card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 15px;

  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.city-card:hover img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.city-card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #d90429;
  /* color: #ef233c; */
  /* background-color: #8d99ae; */
  min-width: max-content;
  width: calc(100% - 15px);
  padding-inline: 5px;
  transform: translate(10px, -5px);
  font-weight: bold;
  opacity: 0;
}

.city-card:hover figcaption{
  opacity: 1;
  /* mix-blend-mode: screen; */
  transform: translate(5px, -15px);
  transition: transform .5s, opacity .8s;
  /* z-index: 4; */
}

/* .city-card:hover figcaption::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
  background-color:hsla(235, 21%, 21%, .5);
  mix-blend-mode: multiply;
  z-index: -1;
} */

@media (hover:hover) {
  .city-card:active {
    transform: translate3d(2px, 2px, 3px);
    transition: transform .2s;
  }

}

@media (max-width:650px) {

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .app {
    width: 90vw;
    padding-inline: 5vw;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .city-card {
    text-align: left;
  }

  .city-card img {
    width: 150px;
    height: 150px;
  }
}